{% extends "base.html" %}
{% load my_templatetag %}

{% block title %}
List of halos
{% endblock %}



{% block content %}
<center>
  <h2 id="filterhead">
    Filter Table Contents
 </h2>
  <form method="get">
   <!-- {{ filter.form.as_p }} -->
    <tr>
         <th><label for="id">redMaPPer ID:</label></th>
         <td><input id="id" name="mem_match_id" type="number" value="{{ filter.form.mem_match_id.value}}"/></td> 
    </tr>
    <p></p>
    <tr>
         <th><label for="ralo">RA low:</label></th>
         <td><input id="ralo" name="ra__gt" step="0.01" type="number" value="{{ filter.form.ra__gt.value|default_if_none:'100'}}"/></td> 
    </tr>
    <tr>
         <th><label for="rahi">RA high:</label></th>
         <td><input id="rahi" name="ra__lt" step="0.01" type="number" value="{{ filter.form.ra__lt.value|default_if_none:'200'}}"/></td> 
    </tr>
    <p></p>
    <tr>
         <th><label for="declo">Dec low:</label></th>
         <td><input id="declo" name="dec__gt" step="0.01" type="number" value="{{ filter.form.dec__gt.value|default_if_none:'0' }}"/></td> 
    </tr>
    <tr>
         <th><label for="dechi">Dec high:</label></th>
         <td><input id="dechi" name="dec__lt" step="0.01" type="number" value="{{ filter.form.dec__lt.value|default_if_none:'10' }}"/></td> 
    </tr>
    <br></br>
    <p>
    <button type="submit" class="btn btn-primary">Search</button>
    </p> 
  </form>

</center>
<p class="search_log">Showing {{ page.start_index }} - {{ page.end_index }} of {{paginator.count}}</p>
<p class="search_log"> {% url_pull request %} </p>

<table class="table">
<thead>
<tr><th scope="col">Number</th><th scope="col" style="min-width:135px">redMaPPer ID</th><th>RA</th><th scope="col">Dec</th><th scope="col">Redshift</th><th scope="col">Richness</th><th scope="col">Viewer</th><th scope="col">SkyServer</th></tr>
</thead>
<tbody>
  {% for cen in page %}
<tr><script>
var index = {{ forloop.counter0}} + {{page.start_index }};
document.write('<td>'+index+'</td>');
document.write('<td><a href="{{BASE_URL}}centrals.html?index='+index+'">{{cen.mem_match_id_string}}</a></td>');
</script>
<td><script>
  var ra = {{ cen.ra }};
  ra = ra.toFixed(7);
  document.write(ra);
</script></td>
<td><script>
  var dec = {{ cen.dec }};
  dec = dec.toFixed(7);
  document.write(dec);
</script></td>
<td><script>
  var z = {{ cen.z }};
  z = z.toFixed(3);
  document.write(z);
</script></td>
<td><script>
  var la = {{ cen.la }};
  la = la.toFixed(3);
  document.write(la);
</script></td>
<td><a href = "{{ cen.viewer_link }}">link</a></td><td><a href = "{{ cen.skyserver_link }}">link</a></td></tr>
  {% endfor %}
</tbody>
  </table>

<div style="text-align:center; padding: 10;">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        {% if page.has_next %}
            
            <a href="?{% url_replace request 'page' page.next_page_number %}">next</a>
            <a href="?{% url_replace request 'page' paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
