{% extends "base.html" %}



{% block title %}
List of halos
{% endblock %}

{% block content %}

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for cen in filter.qs %}
    <li>{{ cen.ctype }} - {{ cen.objid }}</li>
  {% endfor %}
  </ul>

<!--
<center>
  <table><tr><th>objid</th><th>cType</th><th>ra</th><th>dec</th><th>mem_match_id</th><th>z</th><th>lambda_chisq</th><th>sdss_objid</th></tr>
    {% for central in centrals %}
    <tr><td>{{ central.objid }}</td><td>{{ central.ctype }}</td><td>{{central.ra }}</td><td>{{ central.dec }}</td><td>{{ central.mem_match_id }}</td><td>{{ central.z }}</td><td>{{ central.la }}</td><td>{{central.sdss_objid }}</td></tr>
    {% endfor %}
  </table>
</center>
-->
{% endblock %}
