{% extends "base.html" %}

{% block title %}
List of halos
{% endblock %}



{% block content %}
<center>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
</center>
  <table class="table">
<thead>
<tr><th scope="col">redMaPPer
    ID</th><th>RA</th><th scope="col">Dec</th><th scope="col">Redshift</th><th scope="col">Richness</th><th scope="col">Viewer</th><th scope="col">SkyServer</th></tr>
</thead>
<tbody>
  {% for cen in filter.qs %}
    <tr><td><a href ="http://portal.nersc.gov/project/cosmo/temp/ioannis/legacyhalos/{{cen.mem_match_id}}/{{ cen.mem_match_id }}.html">{{ cen.mem_match_id}}</a></td>
<td>{{cen.ra }}</td><td>{{ cen.dec }}</td><td>{{ cen.z}}</td>
<td>{{ cen.la }}</td>
<td><a href = "{{ cen.viewer_link }}">link</a></td><td><a href = "{{ cen.skyserver_link }}">link</a></td></tr>
  {% endfor %}
</tbody>
  </table>

<!--
<center>
  <table><tr><th>objid</th><th>cType</th><th>ra</th><th>dec</th><th>mem_match_id</th><th>z</th><th>lambda_chisq</th><th>sdss_objid</th></tr>
    {% for central in centrals %}
    <tr><td>{{ central.objid }}</td><td>{{ central.ctype }}</td><td>{{central.ra }}</td><td>{{ central.dec }}</td><td>{{ central.mem_match_id }}</td><td>{{ central.z }}</td><td>{{ central.la }}</td><td>{{central.sdss_objid }}</td></tr>
    {% endfor %}
  </table>
</center>
-->
{% endblock %}
