{% extends "base.html" %}

{% block title %}
List of halos
{% endblock %}



{% block content %}
<center>
  <h2 id="filterhead">
    Filter Table Contents
 </h2>
  <form method="get">
   <!-- {{ filter.form.as_p }} -->
    <tr>
         <th><label for="id">redMaPPer ID:</label></th>
         <td><input id="id" name="mem_match_id" type="number" value="{{ filter.form.mem_match_id.value}}"/></td> 
    </tr>
    <p></p>
    <tr>
         <th><label for="ralo">RA low:</label></th>
         <td><input id="ralo" name="ra__gt" type="number" value="{{ filter.form.ra__gt.value|default_if_none:'100' }}"/></td> 
    </tr>
    <tr>
         <th><label for="rahi">RA high:</label></th>
         <td><input id="rahi" name="ra__lt" type="number" value="{{ filter.form.ra__lt.value|default_if_none:'200' }}"/></td> 
    </tr>
    <p></p>
    <tr>
         <th><label for="declo">Dec low:</label></th>
         <td><input id="declo" name="dec__gt" type="number" value="{{ filter.form.dec__gt.value|default_if_none:'0' }}"/></td> 
    </tr>
    <tr>
         <th><label for="dechi">Dec high:</label></th>
         <td><input id="dechi" name="dec__lt" type="number" value="{{ filter.form.dec__lt.value|default_if_none:'10' }}"/></td> 
    </tr>
    <br></br>
    <p>
    <button type="submit" class="btn btn-primary">Search</button>
    </p> 
  </form>

</center>
<table class="table">
<thead>
<tr><th scope="col" style="min-width:135px">redMaPPer ID</th><th>RA</th><th scope="col">Dec</th><th scope="col">Redshift</th><th scope="col">Richness</th><th scope="col">Viewer</th><th scope="col">SkyServer</th></tr>
</thead>
<tbody>
  {% for cen in filter.qs %}
    <tr><td><a href="http://portal.nersc.gov/project/cosmo/temp/ioannis/legacyhalos/{{cen.mem_match_id_string}}/{{cen.mem_match_id_string }}.html">{{ cen.mem_match_id_string}}</a></td>
<td><script>
  var ra = {{ cen.ra }};
  ra = ra.toFixed(7);
  document.write(ra);
</script></td>
<td><script>
  var dec = {{ cen.dec }};
  dec = dec.toFixed(7);
  document.write(dec);
</script></td>
<td><script>
  var z = {{ cen.z }};
  z = z.toFixed(3);
  document.write(z);
</script></td>
<td><script>
  var la = {{ cen.la }};
  la = la.toFixed(3);
  document.write(la);
</script></td>
<td><a href = "{{ cen.viewer_link }}">link</a></td><td><a href = "{{ cen.skyserver_link }}">link</a></td></tr>
  {% endfor %}
</tbody>
  </table>

<!--
<center>
  <table><tr><th>objid</th><th>cType</th><th>ra</th><th>dec</th><th>mem_match_id</th><th>z</th><th>lambda_chisq</th><th>sdss_objid</th></tr>
    {% for central in centrals %}
    <tr><td>{{ central.objid }}</td><td>{{ central.ctype }}</td><td>{{central.ra }}</td><td>{{ central.dec }}</td><td>{{ central.mem_match_id }}</td><td>{{ central.z }}</td><td>{{ central.la }}</td><td>{{central.sdss_objid }}</td></tr>
    {% endfor %}
  </table>
</center>
-->
{% endblock %}
