{% extends "base.html" %}

{% block title %}
unWISE coadds: data access
{% endblock %}

{% block css %}
.formtab {
font-size: 14px;
background: #fff;
margin: 15px;
width: 500px;
border-collapse: collapse;
text-align: left;
}
.formtab td {
color: #669;
padding: 9px 8px 0px 8px;
}
.formtab tbody tr:hover td {
color: #009;
}

#id_coord, #id_radius, #id_datatype, #id_version {
  font-size:100%;
}
#verbox, #notebox {
text-align:left;
width: 60%;
}

{% endblock %}

{% block content %}
<center>

<h3>RA,Dec Box Search:</h3>

{% if sdsscollab %}
<form action="{{ url }}?sdss">
<input type="hidden" name="sdss" value=1 />
{% else %}
<form action="{{ url }}">
{% endif %}
  {{ boxform.non_field_errors }}
  <table class="formtab">
    <tbody>
    <tr>
      <td align="right"><label for="id_ra_lo">RA low:</label></td>
      <td>
        {{ boxform.ralo }}
        {{ boxform.ralo.errors }}
        </td>
      <td align="right"><label for="id_ra_hi">RA high:</label></td>
      <td>
        {{ boxform.rahi }}
        {{ boxform.rahi.errors }}
        </td>
    </tr>
    <tr>
      <td align="right"><label for="id_dec_lo">Dec low:</label></td>
      <td>
        {{ boxform.declo }}
        {{ boxform.declo.errors }}
        </td>
      <td align="right"><label for="id_dec_hi">Dec high:</label></td>
      <td>
        {{ boxform.dechi }}
        {{ boxform.dechi.errors }}
        </td>
    </tr>

{% endif %}

    <tr>
      <td  align="right" colspan="2"><label for="id_datatype">Data type:</label></td>
      <td colspan="2">
        {{ boxform.datatype }}
      </td>
    </tr>
    <tr><td /></tr>
    <tr><td colspan="4" align="center">
        <input type="submit" value="Search" class="bigbutton" />
    </td></tr>
    </tbody>
  </table>
</form>

<hr/>
</div>
</center>
{% endblock %}
