{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
legacyhalos
{% endblock %}

{% block content %}
<center>
<h2>legacyhalos header</h2>

<!--
<table border="0">
<th>WISE All-Sky Release Atlas Image</th><th>unWISE coadd</th>
<tr>
<td><img src="{% static "npole2-00.png" %}" /></td><td><img src="{% static "npole2-01.png" %}" /></td>
</tr>
<tr><td colspan="2" align="center">(W1,W2 composite, tile 2709p666, ~6 arcmin square)</td></tr>
</table>
-->

<br/>
<p class="big"><a href="">Search the Database</a></p>


Please cite one or more of:
<br/>
Paper in prep...
<br/>
<br/>
<a href="https://github.com/moustakas/legacyhalos">code</a>
<br/>
<br/>

<br/><br/>
Contact: <a href="https://www.siena.edu/faculty-and-staff/person/john-moustakas/">John Moustakas</a>, jmoustakas@siena.edu<br/></p>
<br/>

<p>
<img src="{% static "orion.jpg" %}" />
<br/>
Orion nebula
</p>

<h3>Cone Search for Tiles:</h3>
<form action="{{ url }}">
  {{ form.non_field_errors }}
  <table class="formtab">
    <tbody>
    <tr>
      <td align="right"><label for="id_version">Version:</label></td>
      <td>
        {{ form.version }}
        {{ form.version.errors }}
      </td>
    </tr>
    <tr>
      <td align="right"><label for="id_coord">Coordinates:</label></td>
      <td>
        {{ form.coord }}
        {{ form.coord.errors }}
      </td>
    </tr>
    <tr>
      <td  align="right"><label for="id_radius">Radius (deg):</label></td>
      <td>
        {{ form.radius }}
        {{ form.radius.errors }}
      </td>
    </tr>
    <tr><td colspan="2" align="center">
        <input type="submit" value="Search" class="bigbutton" />
    </td></tr>
    </tbody>
  </table>

{% endblock %}
